# RetroPie, Recalbox 및 EmulationStation 관련 디렉토리와 파일 무시
retropie_setup/
recalbox/
recalbox-emulationstation/
log/

# 개발용 디렉토리/파일 무시
retropangui-emulationstation-dev
handover*
scriptmodules/*.bak
HANDOVER.md
README.md.bak
button_related_files.txt

# 특정 Markdown 파일 무시
handover-retropangui-251003.md

# 초기화 스크립트 및 백업 파일 무시
deburg_init_script.sh
resources/es-recalbox/.weights
resources/es-recalbox/es_bios.xml
resources/es-recalbox/es_input.backup
resources/es-recalbox/es_settings.cfg
resources/es-recalbox/systemlist.xml
resources/es-recalbox/es_bios.xsd

# 사용자 정의 스크립트 무시
/home/pangui/scripts/retropangui/develop_custom_es.sh
/home/pangui/scripts/retropangui/debug_cores.sh
/home/pangui/scripts/retropangui/init_folder_files.sh

# CLAude 구성 파일 무시
.claude
