retropie_setup
recalbox
recalbox-emulationstation
log

handover*
scriptmodules/*.bak
test_retropangui_1st
test_retropangui_2nd
handover-retropangui-251003.md
deburg_init_script.sh
emulationstation-retropie-dev

resources/es-recalbox/.weights
resources/es-recalbox/es_bios.xml
resources/es-recalbox/es_input.backup
resources/es-recalbox/es_settings.cfg
resources/es-recalbox/systemlist.xml
resources/es-recalbox/es_bios.xsd

/home/pangui/scripts/retropangui/develop_custom_es.sh
/home/pangui/scripts/retropangui/debug_cores.sh
/home/pangui/scripts/retropangui/init_folder_files.sh

button_related_files.txt
.claude