# genimage configuration for Odroid C5
# SD 카드 파티션 레이아웃

image boot.vfat {
    vfat {
        files = {
            "boot.ini",
            "boot.scr",
            "Image",
            "s7d_s905x5m_odroidc5.dtb"
        }
    }
    size = 128M
}

image sdcard.img {
    hdimage {
        gpt = false
    }

    partition uboot {
        in-partition-table = "no"
        image = "u-boot.bin.sd.bin"
        offset = 512
    }

    partition boot {
        partition-type = 0xC
        bootable = "true"
        image = "boot.vfat"
        offset = 8M
    }

    partition rootfs {
        partition-type = 0x83
        image = "rootfs.ext4"
    }
}
